.heading {
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.02rem;
  color: var(--neutral-colors-gray-01);
}

.heading span {
  color: var(--neutral-colors-gray-05);
}

@media (min-width: 768px) {
  .heading {
    font-size: 4rem;
    letter-spacing: 0.04rem;
    text-align: left;
  }
}
