:root {
  --neutral-colors-gray-01: #fafafa;
  --neutral-colors-gray-02: #f4f4f5;
  --neutral-colors-gray-04: #d4d4d8;
  --neutral-colors-gray-05: #a1a1aa;
  --neutral-colors-gray-08: #3f3f46;
  --neutral-colors-gray-09: #27272a;
  --neutral-colors-gray-10: #18181b;
  --neutral-colors-gray-11: #09090b;
  --indigo-colors-indigo-01: #f3f2ff;
  --linear-degrade: linear-gradient(90deg, #c082ff 0%, #7967ff 100%);
}

html {
  color: var(--neutral-colors-gray-01);
  background: var(--neutral-colors-gray-11);
}

body {
  margin: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}
