.container {
  margin: 2.5rem 1.25rem;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
  align-items: center;
}

.overline {
  border-radius: 0.25rem;
  border: 1px solid var(--neutral-colors-gray-09, #27272a);
  background: var(--neutral-colors-gray-10, #18181b);
  padding: 0.5rem 1rem;
}

.overline h2 {
  color: transparent;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-image: var(--linear-degrade);
  background-clip: text;
}

.heading {
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.02rem;
  color: var(--neutral-colors-gray-01);
}

.heading span {
  color: var(--neutral-colors-gray-05);
}

.subheading {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.paragraph {
  color: var(--neutral-colors-gray-05, #a1a1aa);
  text-align: center;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.01125rem;
}

.background {
  width: 10.9375rem;
  height: 52.3125rem;
  position: absolute;
  right: -9.5rem;
  top: -7.8125rem;
  opacity: 0.30000001192092896;
  background: linear-gradient(360deg, #c082ff 0%, #7967ff 54.17%, #c3bbff 100%);
  filter: blur(150px);
}

@media (min-width: 900px) {
  .container {
    margin: 5rem 7rem;
  }

  .wrapper {
    align-items: flex-start;
    max-width: 40rem;
  }
  .heading {
    font-size: 4rem;
    letter-spacing: 0.04rem;
    text-align: left;
  }

  .subheading {
    flex-direction: row;
    justify-content: space-between;
  }

  .paragraph {
    text-align: left;
  }
}

@media (min-width: 1600px) {
  .container {
    margin: 5rem 15rem;
  }
}
