.container {
  margin: 5rem 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  margin-bottom: 2.5rem;
}

.cards {
  display: grid;
  gap: 3rem;
}

@media (min-width: 768px) {
  .container {
    margin: 8.75rem 2.5rem;
  }

  .cards {
    gap: 2rem;
    grid-auto-flow: column;
  }

  .texts {
    margin-bottom: 5rem;
    max-width: 40rem;
  }
}
