.container {
  margin: 0 1.25rem;
}

.wrapper {
  display: flex;
  gap: 1rem;
  padding: 1.5rem 0;
  align-items: center;
  justify-content: space-between;
}

.leftSide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.75rem;
}

.list {
  display: none;
  padding: 0;
  list-style: none;
}

.list li > a {
  color: var(--neutral-colors-gray-05, #a1a1aa);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.01rem;
  text-decoration: none;
}

.desktopLogo {
  display: none;
}

.mobileLogo {
  display: block;
}

.hamburger {
}

.rightSide {
  display: flex;
  gap: 1rem;
}

@media (min-width: 768px) {
  .container {
    margin: 0 2.5rem;
  }

  .desktopLogo {
    display: block;
  }

  .mobileLogo {
    display: none;
  }

  .list {
    display: flex;
    gap: 2rem;
  }

  .hamburger {
    display: none;
  }

  .leftSide {
    align-items: center;
  }
}
