.container {
  border: 2px solid transparent;
  background: linear-gradient(
        var(--neutral-colors-gray-11),
        var(--neutral-colors-gray-11)
      )
      padding-box,
    var(--linear-degrade) border-box;
  border-radius: 0.46294em;
  margin: 2.5rem;
  position: absolute;
  top: 24.38rem;
  max-width: 20.25rem;
  min-width: 15rem;
  animation: slider 4s ease-in-out infinite alternate-reverse both;
  z-index: 1;
}

.wrapper {
  margin: 1.85rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.title {
  color: var(--neutral-colors-gray-04);
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  align-self: stretch;
  text-align: center;
  font-size: 1.125rem;
  letter-spacing: 0.01125rem;
  pointer-events: none;
}

.input {
  padding: 0.74075rem;
  border-radius: 0.18519rem;
  border: 0.741px solid var(--neutral-colors-gray-09);
  background: var(--neutral-colors-gray-10);
  color: var(--neutral-colors-gray-04);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00875rem;
  line-height: 150%;
  align-self: stretch;
  pointer-events: none;
}

.input::placeholder {
  white-space: pre-line;
}

.loading {
  pointer-events: none;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.loading img {
  animation: rotate-center 2s linear infinite both;
}

@media (min-width: 768px) {
  .container {
    top: 30rem;
    right: -5rem;
    width: 100%;
  }
}

@media (min-width: 900px) {
  .container {
    top: 20rem;
    right: -5rem;
  }
}

@media (min-width: 1440px) {
  .container {
    right: 5rem;
  }
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slider {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-2rem);
  }
}
