.container {
  border: 2px solid transparent;
  background: linear-gradient(
        var(--neutral-colors-gray-11),
        var(--neutral-colors-gray-11)
      )
      padding-box,
    var(--linear-degrade) border-box;
  border-radius: 0.46294em;
  margin: 2.5rem;
  position: absolute;
  top: 24.38rem;
  max-width: 20.25rem;
}

.wrapper {
  margin: 1.85rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.title {
  color: var(--neutral-colors-gray-04);
  font-size: 0.83331rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0.00831rem;
  align-self: stretch;
  text-align: center;
}

.input {
  padding: 0.74075rem;
  border-radius: 0.18519rem;
  border: 0.741px solid var(--neutral-colors-gray-09);
  background: var(--neutral-colors-gray-10);
  color: var(--neutral-colors-gray-04);
  font-size: 0.64813rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.0065rem;
  line-height: 150%;
  align-self: stretch;
}

.input::placeholder {
  white-space: pre-line;
}

@media (min-width: 900px) {
  .container {
    top: 19.19rem;
    right: 6.88rem;
    width: 100%;
  }

  .title {
    font-size: 1.125rem;
    letter-spacing: 0.01125rem;
  }
}
